footer.Footer
  .Footer-container
    p.Small-text Copyright &#169; 2019 Hub innovación minero.
    p.Small-text Todos los derechos reservados.
    p.Small-text
      | Desarrollado por #[a(href="https://esferadigital.cl/" class="Text-link" target="_blank") esferadigital.cl]
