header.Header
  section.Header-container.Banner
    h1.Titulo HUB DE INNOVACIÓN MINERA DEL PERÚ
    .Logo
      img(src="img/logo.png", alt="Logo Hub")
    h2.Subtitulo Sociedad Nacional de Mineria
    p.Parrafo Cuenta regresiva para nuestro lanzamiento en Perumin

