section#Gallery
  .Masonry-layout-item
    img(src="img/masonry-1.jpg")
  .Masonry-layout-item
    img(src="img/masonry-2.jpg")
  .Masonry-layout-item
    img(src="img/masonry-3.jpg")
  .Masonry-layout-item
    img(src="img/masonry-4.jpg")
  .Masonry-layout-item
    img(src="img/masonry-5.jpg")
  .Masonry-layout-item
    img(src="img/masonry-6.jpg")
  .Masonry-layout-item
    img(src="img/masonry-7.jpg")
  .Masonry-layout-item
    img(src="img/masonry-8.jpg")
  .Masonry-layout-item
    img(src="img/masonry-9.jpg")
  .Masonry-layout-item
    img(src="img/masonry-10.jpg")

