section.Slider
  .Slider-item.slider-actual
    img(src="img/slider1.jpg", alt="Circulo Humano")
  .Slider-item
    img(src="img/slider2.jpg", alt="Fauna Nativa")
  .Slider-item
    img(src="img/slider3.jpg", alt="Manos")
  .anterior#Prev
    i(class="fas fa-chevron-left")
  .siguiente#Next
    i(class="fas fa-chevron-right")
  .puntos
    span#punto1.punto.punto-activo
    span#punto2.punto
    span#punto3.punto
  .PlayPause
    i(class="fas fa-pause")#btnPlay
