.Slider
  .anterior#Prev
    i(class="fas fa-chevron-left")
  .siguiente#Next
    i(class="fas fa-chevron-right")
  .Slider-content
    img(src="img/slider3.jpg", alt="Manos" id="lastClone")
    img(src="img/slider1.jpg", alt="Circulo Humano")
    img(src="img/slider2.jpg", alt="Fauna Nativa")
    img(src="img/slider3.jpg", alt="Manos")
    img(src="img/slider1.jpg", alt="Circulo Humano" id="firstClone")
