.Tabs-container
  ul.Tabs#TabContainer
    li.Tabs-item.tab-activo Tab 1
    li.Tabs-item Tab 2
    li.Tabs-item Tab 3
    li.Tabs-item Tab 4
    li.Tabs-item Tab 5
  .Tabs-panels
    .Tabs-panels-item.panel-activo
      h2 Opción 1
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quidem quas, consectetur adipisci, labore, corrupti nostrum fugiat maiores aperiam molestiae temporibus excepturi animi sint ea cum reiciendis enim explicabo. Quo!
    .Tabs-panels-item
      h2 Opción 2
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quidem quas, consectetur adipisci, labore, corrupti nostrum fugiat maiores aperiam molestiae temporibus excepturi animi sint ea cum reiciendis enim explicabo. Quo!
    .Tabs-panels-item
      h2 Opción 3
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quidem quas, consectetur adipisci, labore, corrupti nostrum fugiat maiores aperiam molestiae temporibus excepturi animi sint ea cum reiciendis enim explicabo. Quo!
    .Tabs-panels-item
      h2 Opción 4
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quidem quas, consectetur adipisci, labore, corrupti nostrum fugiat maiores aperiam molestiae temporibus excepturi animi sint ea cum reiciendis enim explicabo. Quo!
    .Tabs-panels-item
      h2 Opción 5
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quidem quas, consectetur adipisci, labore, corrupti nostrum fugiat maiores aperiam molestiae temporibus excepturi animi sint ea cum reiciendis enim explicabo. Quo!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quidem quas, consectetur adipisci, labore, corrupti nostrum fugiat maiores aperiam molestiae temporibus excepturi animi sint ea cum reiciendis enim explicabo. Quo!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quidem quas, consectetur adipisci, labore, corrupti nostrum fugiat maiores aperiam molestiae temporibus excepturi animi sint ea cum reiciendis enim explicabo. Quo!
