main.Main
  .Main-container
    include ../elements/cuenta-regresiva
    //- .Box-icon-link
    //-   a(class="Icon-link fab fa-facebook-square" href="https://www.facebook.com/GrupoGBV/" target="_blank")
    //-   a(class="Icon-link fab fa-whatsapp" href="https://chat.whatsapp.com/invite/BpcpmjJnsoQG3mXEvLf0Xc" target="_blank")
