//- Variables
-let titulo = "HUB INNOVACIÓN MINERA DEL PERÚ";
-let descripcion = "Innovación abierta mineras del Perú";

-let fuentes = "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";
-let iconos = "https://use.fontawesome.com/releases/v5.7.2/css/all.css";
//- -let sweetalert = "https://cdn.jsdelivr.net/npm/sweetalert2@8";

//- -let url = "http://localhost:3000/";
-let url = "http://hubinnovacionminera.pe/"

//- -
//-   let link = {
//-     inicio: url,
//-     nosotros: url + "nosotros.html",
//-     servicios: url + "servicios.html",
//-     contacto: url + "contacto.html"
//-   }


//- sintaxis
//- - var saludo = "Hola mundo!"
//- asignación
//- p = saludo
//- //interpolación
//- p Soy un #{saludo}
