block config
  include ../config/config

doctype
html(lang="es-cl")
  head
    title= titulo
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1.0")
    meta(name="description" content= descripcion)
    link(rel="icon" type="image/png" href="img/favicon.png")
    link(rel="stylesheet" href= fuentes)
    link(rel="stylesheet" href= iconos)
    link(rel="stylesheet" href="css/styles.css")
  body#body
    block header
    .Container-central
      block main
    block footer
    block script
      script(src=sweetalert)
      script(src="js/script.js")
