 //Para obtener color

 @function color($color) {
  @return map-get($colors,$color);
}

// Paleta de colores

$colors:(
  primary: #090A07,
  secondary: hsl(44, 100%, 48%),
  success: #E0B544,
  alert: #C0362C,
  silver: #C4C4C4,
  tertiary: #484848,
  fondo: #1F5764,
  shark: #1C1C1A,
  granny: #869a9c,
  tacha: #d3c558,
  bg: #e5e5e5,
  bg-item: #ffffff,
);

 // Con esta función, para capturar el color bastaria poner, por ejemplo:
 //
 // div{
 //   background: color(gris-claro);
 // }
