// Reset tamaño de tipografias

  // Convertir px a em

@function em($el,$parent:16px) {
  @return ($el / $parent) * 1em;
}

// Convertir px a rem

@function rem($el) {
  @return ($el / 16px) * 1rem;
}

 //Tamaños de fuentes

$font-root: em(16px);
$title: $font-root * 2;
$sub-title: $font-root * 1.7;
$big-title: $font-root * 3;

$icon: $font-root * 3.5;

$light: 300; //Ancho de fuente
$normal: 400; //Ancho de fuente
$bold: 600;


h1{font-size: 2rem;}
h2{font-size: 1.75rem;}
h3{font-size: 1.5rem;}
h4{font-size: 1.25rem;}

h5, a, abbr, b, code, dfn, em, i, li, mark, p, pre, strong{
  font-size: 1rem;
}

h6, small{font-size: .75rem;}

// Familias tipográficas

$fuente-principal: 'Anton', sans-serif;
$fuente-secundaria: 'Roboto', sans-serif;

html {
  font-family: $fuente-principal;
  font-size: $font-root;
}

body{
  font-family: $fuente-principal;
}
