@mixin banner-img-text{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.Banner{
  @include banner-img-text();
  // border: 2px solid blue;
  text-align: center;
}
